#content-news-detail {
    .line-4 {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-decoration: none;
    }
    .line-2 {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-decoration: none;
    }
    .title_post h2 {
        margin: 0 0 15px 0;
    }
    .item .row {
        margin-bottom: 0;
    }
    .boxbs_dungten {
        display: none !important;
    }
    .row.div_flex {
        margin-bottom: 0;
    }
    .margin-none {
        margin: 0 !important;
    }
    .bg-white {
        background-color: #fff;
    }
    .mb_30 {
        margin-bottom: 30px;
    }
    // .news_main .box_border {
    //     border: 1px solid #ccc;
    // }
    .pl_15 {
        padding-left: 15px;
    }
    .pr_15 {
        padding-right: 15px;
    }
    .mb_15 {
        margin-bottom: 15px;
    }
    .mt_10 {
        margin-top: 10px;
    }
    .cl_33, .cl_33 * {
        color: #333;
    }
    .sz_18 {
        font-size: 18px!important;
    }
    .sz_16 {
        font-size: 16px!important;
    }
    .div_tag {
        padding: 0;
        display: inline-block;
    }
    .div_tag li {
        list-style: none;
        display: inline-block;
    }
    .div_tag li a {
        font-size: 10px;
        background: #f6f6f7;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #333;
        padding: 5px;
        margin-right: 3px;
        display: inline-block;
        margin-top: 3px;
    }
    .text-justify {
        text-align: justify;
    }
    .boxbs_dungten {
        opacity: .7;
        font-size: 10px;
    }
    .boxbs_dungten img {
        border: 1px solid #ccc;
        width: 40px;
        margin-right: 7px;
    }
    .img-circle {
        border-radius: 50%;
    }
    .cl_brand {
        color: #102e9e;
    }
    .text-uppercase {
        text-transform: uppercase;
    }
    .mtr_5 {
        margin-top: -5px;
    }
    @media (min-width: 768px) {
        .div_flex.top .item, .div_flex_n.top .item {
            justify-content: flex-start;
        }
        .div_flex, .dvkhac .owl-stage {
            display: flex;
            flex-direction: row;
        }
        .div_flex .item, .div_flex_n .item, .dvkhac .owl-stage .owl-item {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
        }
        .noright {
            padding-right: 0;
        }
        .noleft {
            padding-left: 0;
        }
    }
}