#content-news {
  /* content thu 2 */
}

#content-news .stretch-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}

#content-news .flex-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#content-news .banner-content {
  position: absolute;
  padding: 20px;
  left: 0px;
  bottom: 0px;
  color: #3e3e3e;
  background: #fff;
  opacity: 1;
  border-radius: 0 0 6px 6px;
}

#content-news .position-relative {
  position: relative;
  display: -ms-flexbox;
  display: flex;
}

#content-news .mb-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-decoration: none;
  color: #3e3e3e;
  line-height: 20px;
  margin: 5px 0;
}

#content-news #new-follow-catelogy .mb-2 a {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#content-news .fs-13 {
  font-size: 13px;
}

#content-news .fs-15 {
  font-size: 15px;
}

#content-news .mb-0 {
  color: #3e3e3e;
  text-transform: uppercase;
  line-height: 25px !important;
  margin: 0;
}

#content-news .mb-0 a {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#content-news .catalogues-news {
  display: grid;
}

#content-news .catalogues-news .mr-2 {
  font-size: 13px;
}

#content-news .time-news {
  font-size: 13px;
}

#content-news .text-white {
  color: #fff;
}

#content-news .row.flex-content.content-right {
  margin-bottom: 10px;
}

#content-news .bg-dark {
  background-color: #000000 !important;
}

#content-news .img-fluid {
  border-radius: 6px;
}

#content-news .grid-margin {
  border-radius: 6px;
  /* padding: 0 20px; */
}

#content-news .content-right h5 {
  color: #fff;
  line-height: 20px;
  margin: 10px 0;
}

#content-news .content-right h5 a {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#content-news .rotate-img {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  /* width: 100%; */
}

#content-news .rotate-img a {
  width: 100%;
}

#content-news .content-right .pr-3 {
  padding-right: 0;
}

#content-news .card.text-white {
  background: #000000 !important;
  border-radius: 6px;
}

#content-news .card-body {
  padding: 20px;
}

#content-news .card-body h3 {
  margin: 0 0 10px 0;
}

#content-news .stretch-card.grid-margin {
  margin-bottom: 20px;
}

#content-news .stretch-card .card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /* border: 1px solid #e7eaed; */
  border-radius: 6px;
  width: 100%;
}

#content-news .vertical-menu {
  margin: 0;
}

#content-news .vertical-menu li a {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: #ababac;
  padding: 10px 0;
  display: block;
  cursor: pointer;
}

.title-mobile {
  display: none;
}

@media (max-width: 767px) {
  .width_100 {
    width: 100%;
  }
  .width_70 {
    width: 70%;
  }
  .title-mobile {
    display: block;
  }
  .title-desktop {
    display: none;
  }
  #content-news .position-relative {
    display: block;
  }
  #content-news .banner-content {
    position: relative;
  }
}

@media (max-width: 999px) {
  #content-news .vertical-menu li a {
    font-size: 14px;
  }
  #content-news .card-body {
    padding: 0;
  }

  #content-news .banner-content {
    padding: 10px;
  }

  #content-news .mb-0 {
    font-size: 17px;
    margin: 0;
    line-height: 25px;
    margin-bottom: 5px;
  }

  /* #content-news .mb-2 {
    font-size: 15px;
    line-height: 22px;
    margin: 0 0 5px 0;
  } */

  #content-news .bg-dark {
    background-color: unset !important;
  }

  #content-news .card {
    padding: 10px;
  }

  #content-news .card-body h3 {
    margin: 10px 0;
    font-size: 20px;
  }

  #content-news .content-right .pr-3 {
    width: 50%;
  }

  #content-news .content-right .rotate-img {
    width: 50%;
  }

  /* #content-news .grid-margin {
    margin-bottom: 20px;
  } */

  #content-news .row-item {
    padding: 10px !important;
  }

  /* #content-news .grid-margin {
    margin-bottom: 0;
  } */

  /* #content-news .menu-catelogy {
    width: 100%;
  } */

  #content-news #new-follow-catelogy .fs-13.mb-2 {
    font-size: 13px;
    margin: 5px 0;
  }

  #content-news #new-follow-catelogy .mb-2.fs-15 {
    margin-bottom: 0;
  }

  #content-news #new-follow-catelogy .img-grid.grid-margin {
    margin-bottom: 10px;
  }
}

/* @media (min-width: 999.1px) and (max-width: 1024px) {
  #content-news .bg-dark {
    background-color: unset !important;
  }

  #content-news .grid-margin {
    margin-bottom: 20px;
    line-height: 25px;
  }

  #content-news .menu-catelogy {
    width: 100%;
  }

  #content-news .content-right h5 {
    font-size: 20px;
  }

  #content-news .row.flex-content.content-right {
    margin-bottom: 20px;
  }

  #content-news #new-follow-catelogy .card {
    padding: 30px 30px 0 30px;
  }
} */

/* @media (max-width: 1199px) {
  #content-news .menu-catelogy {
    width: 100%;
  }
} */

#content-news .w-100 {
  width: 100%;
}

#content-news .active {
  display: flex !important;
}

#content-news .row-item {
  margin-bottom: 0;
}

#content-news .no-active {
  display: none;
}

#content-news .row-item {
  padding: 10px 0;
}

#content-news .vertical-menu li a:hover {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

#content-news .vertical-menu li.active a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

#content-news .rotate-img {
  overflow: hidden;
}

#content-news .rotate-img img {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  transition: 0.6s ease-in-out;
}

#content-news .rotate-img:hover img {
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(15deg) scale(1.4);
}

#content-news a {
  display: flex;
}

#content-news .text-white a {
  color: #fff;
}

@media (max-width: 767px) {
  .menu-catelogy {
    width: 100%;
  }
	/* #new-follow-catelogy {
		width: 80%;
	}
  #content #new-follow-catelogy img {
    max-width: unset !important;
    width: unset !important;
  } */
}

